<div class="member-card">
  <div class="row-one">
    <h3>Whats Best For Our Costomers is Best For US ! ! ! </h3>
  </div>
  <div class="row-two mx-auto">
    <div class="logo hide-mobile">
      LOVE RAGE
    </div>
  </div>
</div>