<!--- Footer -->
<footer>
    <div class="container-fluid padding">
        <div class="row">
            <div class="col-md-4">
                <div class="logo">RAGE</div>
                <hr class="light" />
                <p>+91 9876543210</p>
                <p>Luigi Store</p>
                <p>Wano Kuni</p>
                <p>Bengaluru, Karnataka, 560107</p>
            </div>
            <div class="col-md-4">
                <h5>Customer Service</h5>
                <hr class="light" />
                <p>CONTACT US</p>
                <p>BUSINESS CUSTOMERS</p>
                <p>DELIVERY TIMES</p>
                <p>USER MANUALS</p>
                <p>HELP CENTRE</p>
            </div>
            <div class="col-md-4">
                <h5>Policies</h5>
                <hr class="light" />
                <p>SECURITY</p>
                <p>TERM OF USE</p>
                <p>TERMS OF PURCHASE</p>
                <p>PRIVACY POLICY</p>
                <p>COOKIES</p>
            </div>
            <div class="col-12 text-center">
                <hr class="light-100" />
                <h5>&copy; rage.com</h5>
            </div>
        </div>
    </div>
</footer>
