*{
  margin: 0;
  padding: 0;
}

h1{
  text-align: center;
  color: aliceblue;
}

.container{
  text-align: center;
}

.cart-item{
  color: aliceblue;
  display: flex;
  justify-content: center;
  padding: 5px;
  font-size: 1.2rem;
  align-items: center;
  border-radius: 10px;
  margin-bottom: 10px;
}

.cart-item:nth-child(odd){
  background-color: #435343;
}

.cart-item:nth-child(even) {
  background-color: #444444;
}

/* .cart-item:first-of-type {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.cart-item:last-of-type{
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
} */

.number{
  text-align: left;
  width: 50px;
}

.product-name{
  text-align: left;
  width: 600px;
}

.price{
  width: 150px;
}

.btn{
  margin: 0 10px;
}

.btn-success{
  margin: auto;
}